{% extends 'bases/base.html' %}
{% load icon %}
{% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <!-- Dossiers -->
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="p-3 text-white border-radius-xl shadow" style="background-color: #317AC1; border-radius: 10px;">
                <div class="d-flex align-items-center">
                    <div class="icon icon-lg shadow-dark text-center p-3 me-3" style="background-color: #7DA7D9; border-radius: 50%;">
                        <i class="material-icons opacity-10">{% icon "folder" class="css-class" %}</i>
                    </div>
                    <div class="text-end">
                        <p class="text-sm mb-0 text-capitalize">Dossiers</p>
                        <h4 class="mb-0">{{ nombre_dossiers }}</h4>
                    </div>
                </div>
                <div class="pt-3">
                    <a href="{% url 'gestion_administratif:dossier-list' %}" class="text-white text-sm font-weight-bolder">Voir plus</a>
                </div>
            </div>
        </div>
        <!-- Total Enseignant -->
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="p-3 text-white border-radius-xl shadow" style="background-color: #317AC1; border-radius: 10px;">
              <div class="d-flex align-items-center">
                  <div class="icon icon-lg shadow-primary text-center p-3 me-3" style="background-color: #7DA7D9; border-radius: 50%;">
                      <i class="material-icons opacity-10">{% icon "user" class="css-class" %}</i>
                  </div>
                  <div class="text-end">
                      <p class="text-sm mb-0 text-capitalize">Total Enseignant</p>
                      <h4 class="mb-0">{{ nombre_enseignants }}</h4>
                  </div>
              </div>
              <div class="pt-3">
                  <a href="{% url 'parameter:enseignant-list' %}" class="text-white text-sm font-weight-bolder">Voir plus</a>
              </div>
          </div>
      </div>
      
        <!-- Total Ufr -->
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
            <div class="p-3 text-white border-radius-xl shadow" style="background-color: #317AC1; border-radius: 10px;">
                <div class="d-flex align-items-center">
                    <div class="icon icon-lg shadow-success text-center p-3 me-3" style="background-color: #7DA7D9; border-radius: 50%;">
                        <i class="material-icons opacity-10">{% icon "server" class="css-class" %}</i>
                    </div>
                    <div class="text-end">
                        <p class="text-sm mb-0 text-capitalize">Total Ufr</p>
                        <h4 class="mb-0">{{ nombre_ufr }}</h4>
                    </div>
                </div>
                <div class="pt-3">
                    <a href="{% url 'parameter:ufr-list' %}" class="text-white text-sm font-weight-bolder">Voir plus</a>
                </div>
            </div>
        </div>
        <!-- Filières -->
        <div class="col-xl-3 col-sm-6">
            <div class="p-3 text-white border-radius-xl shadow" style="background-color: #317AC1; border-radius: 10px;">
                <div class="d-flex align-items-center">
                    <div class="icon icon-lg shadow-info text-center p-3 me-3" style="background-color: #7DA7D9; border-radius: 50%;">
                        <i class="material-icons opacity-10">{% icon "command" class="css-class" %}</i>
                    </div>
                    <div class="text-end">
                        <p class="text-sm mb-0 text-capitalize">Filières</p>
                        <h4 class="mb-0">{{ nombre_filiere }}</h4>
                    </div>
                </div>
                <div class="pt-3">
                    <a href="{% url 'parameter:filiere-list' %}" class="text-white text-sm font-weight-bolder">Voir plus</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
