{% extends 'bases/base.html' %}
{% load icon %}


<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                    <span class="ml-1">Datatable</span>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Table</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Datatable</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Datatable</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example2" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        {% block table-headers %}{% endblock table-headers %}
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for object in object_list %}
                                        <tr>
                                            <th scope="row" class="text-center">{{ forloop.counter }}</th>
                                            {% block table-rows %}{% endblock table-rows %}
                                            <td class="text-center">
                                                <div class="btn-group" role="group" aria-label="Options">
                                                    <a href="{% url info_url object.slug|default:object.id %}" class="btn btn-outline-info btn-sm" data-bs-toggle="tooltip" title="Voir les détails">
                                                        {% icon "info" %}
                                                    </a>
                                                    <a href="{% url update_url object.slug|default:object.id %}" class="btn btn-outline-success btn-sm" data-bs-toggle="tooltip" title="Modifier">
                                                        {% icon "edit" %}
                                                    </a>
                                                    <a href="{% url delete_url object.slug|default:object.id %}" class="btn btn-outline-danger btn-sm" data-bs-toggle="tooltip" title="Supprimer">
                                                        {% icon "trash" %}
                                                    </a>
                                                    {% block other-options %}{% endblock other-options %}
                                                </div>
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="20" class="text-center">Aucun enregistrement</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Name</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>