{% extends "bases/base.html" %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/scroll_card2.css' %}">
{% endblock stylesheet %}

{% block breadcrumb %}
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h2>{{card_title}}</h2>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">{{ list_of }}</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">{{ card_title }}</a></li>
        </ol>
    </div>
</div>
{% endblock breadcrumb %}

{% block title %}
{{card_title}}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card pt-4">
            <div class="d-flex flex-row mb-5 mt-4 justify-content-between">
        {% block more-info %}{% endblock more-info %}
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <div class="row">
                <div class="col-md-7">
                    <div class="card card-scrollable">
                        <div class="card-header">
                            <strong class="card-title" v-if="headerText">
                                {% block card-title %}{{object.label}}{% endblock card-title %}
                            </strong>
                        </div>
                        <div class="card-body">
                            <div class="jumbotron scrollable">
                                {% block card-description %}
                                {{object.description|default_if_none:"-"|default:"-"|safe|escape}}
                                {% endblock card-description %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <section class="card card-scrollable">
                        <div class="card-header">
                            <strong class="card-title">
                                Options / Détail
                            </strong>
                        </div>
                        <div class="card-body scrollable">
                            {% block detail %}{% endblock detail %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% block more-content %}{% endblock more-content %}
{% endblock content %}
