{% load icon %}

<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li><a href="{% url 'index-view' %}" aria-expanded="false">{% icon "book" class="css-class" %}<span
                class="nav-text"> Tableau de Bord</span></a></li>

            {% if perms.xauth.access_gestion_administratif %}
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                <i class="icon icon-app-store"></i><span class="nav-text">Gestion Administrative</span></a>
                <ul aria-expanded="false">
                    {% if perms.gestion_administratif.list_dossier %}
                    <li><a href="{% url 'gestion_administratif:dossier-list' %}">Dossiers Enseignants</a></li>
                    {% endif %}
                    {% if perms.gestion_administratif.histori_dossier %}
                    <li><a href="{% url 'gestion_administratif:historique-dossier' %}">Etat de Paiement</a></li>
                    {% endif %}
                    {% if perms.gestion_administratif.rapport_dossier %}
                    <li><a href="{% url 'gestion_administratif:statistiques' %}">
                        <span>Rapport</span>
                    </a></li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}

            {% if perms.xauth.access_gestion_finance %}
    <li>
        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
            <i class="icon icon-chart-bar-33"></i>
            <span class="nav-text">Gestion Financière</span>
        </a>
        <ul aria-expanded="false">
            <li><a href="{% url 'gestion_finance:dossier-list' %}">Dossiers Transferés</a></li>
            <li><a href="{% url 'gestion_finance:paiement-list' %}">Historique de Paiement</a></li>
            
        </ul>
    </li>
{% endif %}


            {% if perms.xauth.access_parameter %}
            <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">
                {% icon "settings" class="css-class" %}&nbsp;<span class="nav-text"> Paramètres</span></a>
                <ul aria-expanded="false">
                    {% if perms.parameter.view_ufr %}
                    <li><a href="{% url 'parameter:ufr-list' %}">Liste des Ufrs</a></li>
                    {% endif %}
                    {% if perms.parameter.view_departement %}
                    <li><a href="{% url 'parameter:departement-list' %}">Liste des Départements</a></li>
                    {% endif %}
                    {% if perms.parameter.view_filiere %}
                    <li><a href="{% url 'parameter:filiere-list' %}">Liste des Filières</a></li>
                    {% endif %}
                    {% if perms.parameter.view_module %}
                    <li><a href="{% url 'parameter:module-list' %}">Liste des Modules</a></li>
                    {% endif %}
                    {% if perms.parameter.view_enseignant %}
                    <li><a href="{% url 'parameter:enseignant-list' %}"> Liste des Enseignants</a></li>
                    {% endif %}
                    {% if perms.parameter.view_typepaiement %}
                    <li><a href="{% url 'parameter:typepaiement-list' %}"> Type de Paiement</a></li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}

            {% if perms.xauth.access_account %}
                <li {% if "auth" in request.path %} class="active" {% endif %}>
                    <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                        {% icon "users" class="css-class" %}<span class="nav-text">&nbsp; Gestion d'utilisateurs</span>
                    </a>
                    <ul aria-expanded="false">
                        {% if perms.xauth.list_user %}
                        <li {% if "users" in request.path %} class="active" {% endif %}>
                            <a href="{% url 'auth:user-list' %}">Les utilisateurs</a>
                        </li>
                        {% endif %}
                        {% if perms.auth.list_group %}
                        <li {% if "groups" in request.path %} class="active" {% endif %}>
                            <a href="{% url 'auth:group-list' %}">Droit d'accès</a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
            {% endif %}

            {% if perms.xauth.access_account %}
            <li>
                <a href="{% url 'auth:activity_log' %}">{% icon "pocket" class="css-class" %}&nbsp;Voir les Logs</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
