{% extends "bases/base.html" %}
{% load icon %}

{% block breadcrumb %}
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h2>Liste des dossiers transférés</h2>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Dossiers transférés</a></li>
        </ol>
    </div>
</div>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card pt-4">
            <div class="card-body">
                <div class="d-flex flex-row mb-4 justify-content-between">
                    <div>
                        {% include "components/searchbar.html" %}
                    </div>
                </div>
                
                <!-- Début de l'accordéon pour afficher les dossiers -->
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    {% for object in object_list %}
                        <div class="accordion-item">
                            <h2 class="accordion-header d-flex align-items-center" id="flush-heading{{ object.id }}">
                                <!-- Bouton de l'accordéon -->
                                <button class="accordion-button collapsed d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ object.id }}" aria-expanded="false" aria-controls="flush-collapse{{ object.id }}">
                                    <span class="flex-grow-1">
                                        <div class="row">
                                            <div class="col-4">
                                                        {{object.code}}
                                            </div>
                                            <div class="col-4">
                                                        {{object.enseignant}}
                                            </div>
                                            <div class="col-4">
                                                {% if object.status == 'initie' %}
                                                <span class="badge badge-secondary ms-2">Initié</span>
                                            {% elif object.status == 'partiellement payé' %}
                                                <span class="badge badge-info ms-2">Partiellement payé</span>
                                            {% elif object.status == 'soldé' %}
                                                <span class="badge badge-success ms-2">Soldé</span>
                                            {% else %}
                                                <span class="badge badge-light ms-2">Inconnu</span>
                                            {% endif %}
                                            </div>
                                        </div>
                                         <!-- Nom du dossier -->
                                        <!-- Badge du statut juste après le nom -->
                                        
                                    </span>
                                </button>
                            </h2>
                            <div id="flush-collapse{{ object.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ object.id }}" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <!-- Détails du dossier -->
                                    <table class="details-table w-100">
                                        <tbody>
                                            {% for paiement in object.paiement_set.all %}
                                                <tr class="d-flex justify-content-between align-items-center">
                                                    <td>
                                                        <span><strong>Référence :</strong> {{ paiement.reference }}</span> |
                                                        <span><strong>Montant :</strong> {{ paiement.montant_verser }}</span>
                                                    </td>
                                                    <td class="text-end">
                                                        <!-- Bouton pour voir les détails -->
                                                        <a href="{% url 'gestion_finance:paiement-detail' paiement.pk %}" class="btn btn-outline-info btn-sm" data-bs-toggle="tooltip" title="Voir les détails">
                                                            {% icon "info" %}
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% empty %}
                                                <tr>
                                                    <td colspan="2">Aucun paiement associé</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>Aucun dossier transféré trouvé.</p>
                    {% endfor %}
                </div>
                
                
                
                <!-- Fin de l'accordéon -->
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}



