{% extends "bases/base.html" %}
{% load icon %}

{% block breadcrumb %}
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h2>{{ card_title }}</h2>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index-view' %}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">{{ list_of }}</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">{{ card_title }}</a></li>
        </ol>
    </div>
</div>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card pt-4">
            <div class="d-flex flex-row mb-5 mt-4 justify-content-between">
            </div>
        <div class="card-body">
            <div class="d-flex flex-row mb-5 justify-content-between">
                <div>
                    {% include "components/searchbar.html" %}
                </div>
                <div>
                    {% block toolbar %}
                    {% include "components/toolbar.html" %}
                    {% block toolbar-plus %}{% endblock toolbar-plus %}
                    {% endblock toolbar %}
                </div>
            </div>

            <!-- Tabs -->
            <ul class="nav nav-tabs nav-fill mb-5" id="dossierTabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="en-cours-tab" data-bs-toggle="tab" data-bs-target="#en-cours-pane"
                        type="button" role="tab" aria-controls="en-cours-pane" aria-selected="true">
                        DOSSIERS EN COURS
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="transferes-tab" data-bs-toggle="tab" data-bs-target="#transferes-pane"
                        type="button" role="tab" aria-controls="transferes-pane" aria-selected="false">
                        DOSSIERS TRANSFERÉS
                    </button>
                </li>
            </ul>

            <div class="tab-content" id="dossierTabContent">
                <!-- Dossiers en cours -->
                <div class="tab-pane fade show active" id="en-cours-pane" role="tabpanel" aria-labelledby="en-cours-tab"
                    tabindex="0">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    {% block table-headers-en-cours %}{% endblock table-headers-en-cours %}
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for object in object_list_en_cours %}
                                <tr>
                                    <th scope="row" class="text-center">{{ forloop.counter }}</th>
                                    {% block table-rows-en-cours %}{% endblock table-rows-en-cours %}
                                    <td class="text-center">
                                        <div class="btn-group" role="group" aria-label="Options">
                                            {% block list-options-en-cours %}
                                            <button type="button" 
                                                    class="btn btn-md btn-outline-success" 
                                                    data-bs-id="{{ object.id }}" 
                                                    data-bs-toggle="modal" 
                                                    data-bs-target="#transfert-{{ object.id }}">
                                                {% icon "arrow-right" height="16px" width="16px" %} Transférer
                                            </button>

                                            <!-- Modal Transfert -->
                                            <div class="modal fade" id="transfert-{{ object.id }}" tabindex="-1"
                                                aria-labelledby="exampleModalLabel-{{ object.id }}" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel-{{ object.id }}">
                                                                Transfert de dossier
                                                            </h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="container">
                                                                <form method="POST"
                                                                    action="{% url 'gestion_administratif:transfert-dossier' object.id %}"
                                                                    class="row g-3">
                                                                    {% csrf_token %}
                                                                    <input type="hidden" id="id-{{ object.id }}"
                                                                        name="id" value="{{ object.id }}">
                                                                    <div class="col-md-12 mt-2 mb-2">
                                                                        <h4 class="text-center">Voulez-vous transférer le
                                                                            dossier avec l'ID :
                                                                            {{ object.id }} ?</h4>
                                                                    </div>
                                                                    <div class="col-md-6 mt-4">
                                                                        <button type="submit"
                                                                            class="btn btn-success">Confirmer</button>
                                                                    </div>
                                                                    <div class="col-md-6 mt-4">
                                                                        <button type="button" class="btn btn-secondary"
                                                                            data-bs-dismiss="modal">Annuler</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endblock list-options-en-cours %}
                                        </div>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="20" class="text-center">Aucun enregistrement</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Dossiers transférés -->
                <div class="tab-pane fade" id="transferes-pane" role="tabpanel" aria-labelledby="transferes-tab"
                    tabindex="0">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    {% block table-headers-transferes %}{% endblock table-headers-transferes %}
                                    <th class="text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for object in object_list_transferes %}
                                <tr>
                                    <th scope="row" class="text-center">{{ forloop.counter }}</th>
                                    {% block table-rows-transferes %}{% endblock table-rows-transferes %}
                                    <td class="text-center">
                                        <div class="btn-group" role="group" aria-label="Options">
                                            {% block list-options-transferes %}
                                            <a href="{% url 'gestion_administratif:dossier-detail' object.id %}">
                                                <button type="button" 
                                                        class="btn btn-outline-primary">
                                                    {% icon "eye" height="16px" width="16px" %} Voir
                                                </button>
                                            </a>
                                            {% endblock list-options-transferes %}
                                        </div>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="20" class="text-center">Aucun enregistrement</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
